*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
html,body{

    height: 100%;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
img{
    vertical-align: top;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,
h2,
h3,
p{
    font-size: inherit;
    font-weight: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.menu {
    min-height: 104px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.menu-logo {
    margin-right: 132px;
}

.menu-logo a{
    font-weight: bold;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    margin-right: 21px;
}

.nav-item:last-child {
    margin: 0;
}

.nav-link {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}

.header-info {
    margin-top: 80px;
}

.header-info__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 128%;
    letter-spacing: 0.2px;
    color: #252b42;
    max-width: 396px;
}

.header-info__text {
    margin-top: 35px;
    font-weight: 58px;
    line-height: 128%;
    letter-spacing: 0.2px;
    color: #737373;
    max-width: 376px;
}

.header-info__btns {
    margin-top: 35px;
    margin-bottom: 209px;
    display: flex;
}

.header-info__btns .btn_a {
    border: 1px solid #0D5C63;
    border-radius: 37px;
    padding: 0 35px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 187px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #0d5c63;
    margin-right: 10px;
}

.header-info__btns .btn_a:first-child {
    border: 0px;
    background: #FF7B47;
    color: #ffffff;

}

.header {
    background: url(../img/Header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.consultancy {
    background: #fafafa;
}

.consulting-box {
    display: flex;
    flex-direction: row;
    margin-top: -125px;
}

.consulting-item>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252b42;
}

.consulting-item>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

.consulting-item {
    background: #ffffff;
    width: 328px;
    height: 242px;
    padding: 35px 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.consulting-item:last-child>h2 {
    color: #ffffff;
}

.consulting-item:last-child>p {
    color: #ffffff;
}

.consulting-item:last-child {
    background: #0D5C63;
}

.decign {
    padding-top: 98px;
    padding-bottom: 80px;
    background: #fafafa;
}

.designing-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.decignig-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.decignig-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
}

.decignig-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    max-width: 520px;
}

.designing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    background: #ffffff;
}

.designing-item>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.designing-item>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.practice {
    display: flex;
    background: #fafafa;
    padding: 125px;
}

.practice-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.practice-info {
    margin-bottom: 45px;
}

.practice-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.practice-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.practice-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 341px;
    margin-left: 20px;
    margin-right: 20px;
    background: #ffffff;
}

.practice-item>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 30px;
    margin-bottom: 15px;
    max-width: 140px;
}

.practice-item>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 50px;
    max-width: 180px;
}

.practice-item-other {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 341px;
    margin-left: 20px;
    margin-right: 20px;
    background: #ffffff;
}

.practice-item-other>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 30px;
    margin-bottom: 15px;
    max-width: 140px;
}

.practice-item-other>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 30px;
    max-width: 180px;
}

.about-us {
    background: #FFFFFF;
}

.about-us-info {

}

.about-us-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.about-us-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.about-us-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-us-box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-box-filling {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-box-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.about-us-box-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.about-us-item {
    display: flex;
    flex-direction: row;
}

.about-us-item-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
}

.about-us-item-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}