/*---------------------------------------------- Start ----------------------------------------------*/

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
html,body{

    height: 100%;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
img{
    vertical-align: top;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,
h2,
h3,
p{
    font-size: inherit;
    font-weight: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

/*---------------------------------------------- 1 ----------------------------------------------*/

.menu {
    min-height: 104px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.menu-logo {
    margin-right: 132px;
}

.menu-logo a{
    font-weight: bold;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    margin-right: 21px;
}

.nav-item:last-child {
    margin: 0;
}

.nav-link {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}

.header-info {
    margin-top: 80px;
}

.header-info>h1 {
    font-weight: 800;
    font-size: 58px;
    line-height: 128%;
    letter-spacing: 0.2px;
    color: #252b42;
    max-width: 396px;
}

.header-info>p {
    margin-top: 35px;
    font-weight: 58px;
    line-height: 128%;
    letter-spacing: 0.2px;
    color: #737373;
    max-width: 376px;
}

.header-info-buttons {
    margin-top: 35px;
    margin-bottom: 209px;
    display: flex;
}

.header-info-buttons>a {
    border: 1px solid #0D5C63;
    border-radius: 37px;
    padding: 0 35px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 187px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #0d5c63;
    margin-right: 10px;
}

.header-info-buttons>a:first-child {
    border: 0px;
    background: #FF7B47;
    color: #ffffff;

}

.header {
    background: url(../img/Header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------- 2 ----------------------------------------------*/

.consultancy {
    background: #fafafa;
}

.consulting-box {
    display: flex;
    flex-direction: row;
    margin-top: -125px;
}

.consulting-item>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252b42;
}

.consulting-item>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

.consulting-item {
    background: #ffffff;
    width: 328px;
    height: 242px;
    padding: 35px 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.consulting-item:last-child {
    background: #0D5C63;
}

.consulting-item:last-child>h2 {
    color: #ffffff;
}

.consulting-item:last-child>p {
    color: #ffffff;
}

/*---------------------------------------------- 3 ----------------------------------------------*/

.decign {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fafafa;
}

.decignig-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.decignig-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.decignig-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    max-width: 520px;
}

.designing-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.designing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    background: #ffffff;
}

.designing-item>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.designing-item>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

/*---------------------------------------------- 4 ----------------------------------------------*/

.practice {
    display: flex;
    background: #fafafa;
    padding: 125px;
}

.practice-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.practice-info {
    margin-bottom: 45px;
}

.practice-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.practice-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.practice-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    height: 341px;
    margin-left: 20px;
    margin-right: 20px;
    background: #ffffff;
}

.practice-item>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 30px;
    margin-bottom: 15px;
    max-width: 140px;
    margin-left: 30px;
    margin-top: 30px;
}

.practice-item>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 50px;
    max-width: 180px;
    margin-left: 30px;
    margin-top: 15px;
}

.practice-item:first-child>p {
    margin-bottom: 30px;
}

/*---------------------------------------------- 5 ----------------------------------------------*/

.about-us {
    background: #FFFFFF;;
    padding-bottom: 135px;
}

.about-us-info {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 15px;
}

.about-us-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    max-width: 520px;
}

.about-us-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-us-box-filling {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 121px;
    margin-bottom: 100px;
    width: 333px;
    height: 438px;
    padding-top: 45px;
}

.about-us-box-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -50px;
    margin-bottom: 30px;
}

.about-us-box-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
    margin-top: 20px;
}

.about-us-box-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 20px;
}

.about-us-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
}

.about-us-item-info {
    margin-left: 21px;
    margin-right: -50px ;
}

.about-us-item-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 5px;
}

.about-us-item-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

/*---------------------------------------------- 6 ----------------------------------------------*/

/* Я не знаю как это сделать */

/*---------------------------------------------- 7 ----------------------------------------------*/

.communication {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 148px;
}

.communication-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0px;

}

.communication-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
}

.communication-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.communication-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.communication-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    background: #ffffff;
    width: 328px;
}

.communication-item>img {
    margin-bottom: 14px;
}

.communication-item>h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 15px;
}

.communication-item>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.communication-item-buttons>a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FF7B47;
    border: 1px solid #FF7B47;
    box-sizing: border-box;    
    border-radius: 5px;
    width: 160px;
    height: 44px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.communication-item:nth-child(2) {
    background: #252B42;
    padding: 80px 40px;
}

.communication-item:nth-child(2)>h3 {
    color: #FFFFFF;
}   

.communication-item:nth-child(2)>p {
    color: #FFFFFF;
}

.communication-item:nth-child(2) .communication-item-buttons>a {
    color: #FFFFFF;
    border: 1px solid #ffffff;
}

/*---------------------------------------------- 8 ----------------------------------------------*/

.contact {
    background: #fafafa;
}

.contact-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 142px;
}

.contact-box-info {
    display: flex;
    flex-direction: column;
}

.contact-box-info>h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
}

.contact-box-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

.contact-item-button>a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 163px;
    height: 58px;
    background: #FF7B47;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 330px;
}

/*---------------------------------------------- 9 ----------------------------------------------*/

.information {
    background: #17213C;
    padding: 50px 0px;
}

.inofrmation-box {
    display: flex;
    flex-direction: row;
}

.information-links {
    display: flex;
    flex-direction: row;
}

.information-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 152px;
    height: 170px;
    margin: 0px 15px
}

.information-item:first-child {
    margin-left: 0px;
}

.information-item>h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.information-item>p>a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px 0px;
}

.information-item>p>a:last-child {
    margin-bottom: 0px;
}

.information-filling {
    display: flex;
    flex-direction: column;
}

.information-filling>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.information-filling-item {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

.information-filling-item:last-child {
    margin-bottom: 0px;
}

.information-filling-item>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-left: 10px;
}

/*---------------------------------------------- 10 ----------------------------------------------*/

.footer {
    background: #FAFAFA;
    padding: 25px 0px;
}

.footer-box {
    display: flex;
    flex-direction: row;
}

.footer-info {
    margin-right: 410px;
}

.footer-info>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 236px;
    height: 24px;
}

/*---------------------------------------------- End ----------------------------------------------*/